USE [master]
GO
/****** Object:  Database [Test123]    Script Date: 15/04/2023 13:55:02 ******/
CREATE DATABASE [Test123]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test123', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test123.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test123_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test123_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test123].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test123]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](255) NOT NULL,
	[Tel] [nvarchar](10) NOT NULL,
	[Mail] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[Siret] [nvarchar](255) NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Ville] [nvarchar](255) NOT NULL,
	[NombreOffresRestantes] [int] NOT NULL,
	[IdentifiantPackCasting] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conseil]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conseil](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConseilMetier]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConseilMetier](
	[IdentifiantConseil] [int] NOT NULL,
	[IdentifiantMetier] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifiantConseil] ASC,
	[IdentifiantMetier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctrine_migration_versions]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctrine_migration_versions](
	[version] [nvarchar](191) NOT NULL,
	[executed_at] [datetime2](6) NULL,
	[execution_time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DomaineMetier]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomaineMetier](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FicheMetier]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FicheMetier](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interview]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interview](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metier]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metier](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[IdentifiantFicheMetier] [int] NOT NULL,
	[IdentifiantDomaineMetier] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offre]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offre](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[DateDebut] [datetime2](6) NOT NULL,
	[DateFin] [datetime2](6) NOT NULL,
	[Reference] [nvarchar](255) NOT NULL,
	[Localisation] [nvarchar](255) NOT NULL,
	[AgeMin] [smallint] NOT NULL,
	[AgeMax] [smallint] NOT NULL,
	[Date] [datetime2](6) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[IdentifiantClient] [int] NOT NULL,
	[IdentifiantMetier] [int] NOT NULL,
	[IdentifiantTypeContrat] [int] NOT NULL,
	[niveaupro] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffreUser]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffreUser](
	[IdentifiantOffre] [int] NOT NULL,
	[IdentifiantUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifiantOffre] ASC,
	[IdentifiantUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackCasting]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackCasting](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
	[NombreOffres] [smallint] NOT NULL,
	[PrixPack] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartenaireDiffusionOffre]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartenaireDiffusionOffre](
	[IdentifiantPartenaireDiffusion] [int] NOT NULL,
	[IdentifiantOffre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifiantPartenaireDiffusion] ASC,
	[IdentifiantOffre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartenireDiffusion]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartenireDiffusion](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Tel] [nvarchar](255) NOT NULL,
	[Mail] [nvarchar](255) NOT NULL,
	[Nom] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexe]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexe](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SexeOffre]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SexeOffre](
	[IdentifiantSexe] [int] NOT NULL,
	[IdentifiantOffre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifiantSexe] ASC,
	[IdentifiantOffre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeContrat]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeContrat](
	[Identifiant] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 15/04/2023 13:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](180) NOT NULL,
	[roles] [varchar](max) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[is_verified] [bit] NOT NULL,
	[nom] [nvarchar](255) NULL,
	[prenom] [nvarchar](255) NULL,
	[niveaupro] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_C0E801632719DBC1]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_C0E801632719DBC1] ON [dbo].[Client]
(
	[IdentifiantPackCasting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_38A13BC8525B950]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_38A13BC8525B950] ON [dbo].[ConseilMetier]
(
	[IdentifiantMetier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_38A13BC8B00E1DCA]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_38A13BC8B00E1DCA] ON [dbo].[ConseilMetier]
(
	[IdentifiantConseil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_560C08BA418804B7]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_560C08BA418804B7] ON [dbo].[Metier]
(
	[IdentifiantFicheMetier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_560C08BAE52D612A]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_560C08BAE52D612A] ON [dbo].[Metier]
(
	[IdentifiantDomaineMetier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_6E47A96B525B950]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_6E47A96B525B950] ON [dbo].[Offre]
(
	[IdentifiantMetier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_6E47A96B9251261A]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_6E47A96B9251261A] ON [dbo].[Offre]
(
	[IdentifiantTypeContrat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_6E47A96B93C1B089]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_6E47A96B93C1B089] ON [dbo].[Offre]
(
	[IdentifiantClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_21DFA07B0C83DF6]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_21DFA07B0C83DF6] ON [dbo].[OffreUser]
(
	[IdentifiantUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_21DFA07F4657399]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_21DFA07F4657399] ON [dbo].[OffreUser]
(
	[IdentifiantOffre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_E50AB741F5A46F8]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_E50AB741F5A46F8] ON [dbo].[PartenaireDiffusionOffre]
(
	[IdentifiantPartenaireDiffusion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_E50AB74F4657399]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_E50AB74F4657399] ON [dbo].[PartenaireDiffusionOffre]
(
	[IdentifiantOffre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1A069911F1B75433]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_1A069911F1B75433] ON [dbo].[SexeOffre]
(
	[IdentifiantSexe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1A069911F4657399]    Script Date: 15/04/2023 13:55:03 ******/
CREATE NONCLUSTERED INDEX [IDX_1A069911F4657399] ON [dbo].[SexeOffre]
(
	[IdentifiantOffre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_8D93D649E7927C74]    Script Date: 15/04/2023 13:55:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQ_8D93D649E7927C74] ON [dbo].[user]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_C0E801632719DBC1] FOREIGN KEY([IdentifiantPackCasting])
REFERENCES [dbo].[PackCasting] ([Identifiant])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_C0E801632719DBC1]
GO
ALTER TABLE [dbo].[ConseilMetier]  WITH CHECK ADD  CONSTRAINT [FK_38A13BC8525B950] FOREIGN KEY([IdentifiantMetier])
REFERENCES [dbo].[Metier] ([Identifiant])
GO
ALTER TABLE [dbo].[ConseilMetier] CHECK CONSTRAINT [FK_38A13BC8525B950]
GO
ALTER TABLE [dbo].[ConseilMetier]  WITH CHECK ADD  CONSTRAINT [FK_38A13BC8B00E1DCA] FOREIGN KEY([IdentifiantConseil])
REFERENCES [dbo].[Conseil] ([Identifiant])
GO
ALTER TABLE [dbo].[ConseilMetier] CHECK CONSTRAINT [FK_38A13BC8B00E1DCA]
GO
ALTER TABLE [dbo].[Metier]  WITH CHECK ADD  CONSTRAINT [FK_560C08BA418804B7] FOREIGN KEY([IdentifiantFicheMetier])
REFERENCES [dbo].[FicheMetier] ([Identifiant])
GO
ALTER TABLE [dbo].[Metier] CHECK CONSTRAINT [FK_560C08BA418804B7]
GO
ALTER TABLE [dbo].[Metier]  WITH CHECK ADD  CONSTRAINT [FK_560C08BAE52D612A] FOREIGN KEY([IdentifiantDomaineMetier])
REFERENCES [dbo].[DomaineMetier] ([Identifiant])
GO
ALTER TABLE [dbo].[Metier] CHECK CONSTRAINT [FK_560C08BAE52D612A]
GO
ALTER TABLE [dbo].[Offre]  WITH CHECK ADD  CONSTRAINT [FK_6E47A96B525B950] FOREIGN KEY([IdentifiantMetier])
REFERENCES [dbo].[Metier] ([Identifiant])
GO
ALTER TABLE [dbo].[Offre] CHECK CONSTRAINT [FK_6E47A96B525B950]
GO
ALTER TABLE [dbo].[Offre]  WITH CHECK ADD  CONSTRAINT [FK_6E47A96B9251261A] FOREIGN KEY([IdentifiantTypeContrat])
REFERENCES [dbo].[TypeContrat] ([Identifiant])
GO
ALTER TABLE [dbo].[Offre] CHECK CONSTRAINT [FK_6E47A96B9251261A]
GO
ALTER TABLE [dbo].[Offre]  WITH CHECK ADD  CONSTRAINT [FK_6E47A96B93C1B089] FOREIGN KEY([IdentifiantClient])
REFERENCES [dbo].[Client] ([Identifiant])
GO
ALTER TABLE [dbo].[Offre] CHECK CONSTRAINT [FK_6E47A96B93C1B089]
GO
ALTER TABLE [dbo].[OffreUser]  WITH CHECK ADD  CONSTRAINT [FK_21DFA07B0C83DF6] FOREIGN KEY([IdentifiantUser])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[OffreUser] CHECK CONSTRAINT [FK_21DFA07B0C83DF6]
GO
ALTER TABLE [dbo].[OffreUser]  WITH CHECK ADD  CONSTRAINT [FK_21DFA07F4657399] FOREIGN KEY([IdentifiantOffre])
REFERENCES [dbo].[Offre] ([Identifiant])
GO
ALTER TABLE [dbo].[OffreUser] CHECK CONSTRAINT [FK_21DFA07F4657399]
GO
ALTER TABLE [dbo].[PartenaireDiffusionOffre]  WITH CHECK ADD  CONSTRAINT [FK_E50AB741F5A46F8] FOREIGN KEY([IdentifiantPartenaireDiffusion])
REFERENCES [dbo].[PartenireDiffusion] ([Identifiant])
GO
ALTER TABLE [dbo].[PartenaireDiffusionOffre] CHECK CONSTRAINT [FK_E50AB741F5A46F8]
GO
ALTER TABLE [dbo].[PartenaireDiffusionOffre]  WITH CHECK ADD  CONSTRAINT [FK_E50AB74F4657399] FOREIGN KEY([IdentifiantOffre])
REFERENCES [dbo].[Offre] ([Identifiant])
GO
ALTER TABLE [dbo].[PartenaireDiffusionOffre] CHECK CONSTRAINT [FK_E50AB74F4657399]
GO
ALTER TABLE [dbo].[SexeOffre]  WITH CHECK ADD  CONSTRAINT [FK_1A069911F1B75433] FOREIGN KEY([IdentifiantSexe])
REFERENCES [dbo].[Sexe] ([Identifiant])
GO
ALTER TABLE [dbo].[SexeOffre] CHECK CONSTRAINT [FK_1A069911F1B75433]
GO
ALTER TABLE [dbo].[SexeOffre]  WITH CHECK ADD  CONSTRAINT [FK_1A069911F4657399] FOREIGN KEY([IdentifiantOffre])
REFERENCES [dbo].[Offre] ([Identifiant])
GO
ALTER TABLE [dbo].[SexeOffre] CHECK CONSTRAINT [FK_1A069911F4657399]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(DC2Type:json)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'roles'
GO
USE [master]
GO
